
<form action="/pizza-orders/<%= @order.id %>" method="post">
  <label for="first_name">First Name:</label>
  <input type="text" id="first_name" value = <%= @order.first_name %> name="first_name">

  <label for="last_name">Last Name:</label>
  <input type="text" id="last_name" value = <%= @order.last_name %> name="last_name">

  <label for="topping">Topping:</label>
  <select name="topping" id = "topping" value = <%= @order.topping %> id="topping">
    <option value="Hawaiian" <%= "selected" if @order.topping == "Hawaiian" %>>Hawaiian</option>
    <option value="Pepperoni" <%= "selected" if @order.topping == "Pepperoni" %>>Pepperoni</option>
    <option value="Veg Supreme"<%= "selected" if @order.topping == "Veg Supreme" %>>Veg Supreme</option>

  </select>
  <label for="quantity">Quantity</label>
  <input type="number" name="quantity" value= <%= @order.quantity %> id ="quantity">


  <input type="submit" value="Update Order">

</form>
